
body {
    color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bolder;
}

p::after {
    content: "Movil";
    color: black;
}


@media (min-width: 600px) {
    body {
        background-color: blue;
    }

    p::after {
        content:"Tablet";
    color: white;

    }
}

@media (min-width: 1024px) {
    body {
        background-color: green;
    }

    p::after {
        content:"Escritorio";
    }
}