* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    font-style: normal;
}

.dropdown {
    position: relative; /* Contexto para el menú desplegable */
    display: block;
    background-color: #257fa6;
    padding: 20px;
}

.dropdown-text {
    display: none;
    position: absolute; /* Para que se muestre por encima */
    left: 0%;
    width: 100%;
    top: 100%; /* Para posicionarlo justo debajo del .dropdown */
    background-color: #0c5f83;
}

.dropdown-text a:hover {
    background-color: rgba(0,0,0,0.5);
}

.dropdown-text a {
padding: 20px;
width: 100%;
}

.dropdown:hover .dropdown-text {
    display: block;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #75C0E0;
    height: 10vh;
    padding: 0px 20px;
}

nav ul, nav a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
}

li {
    display: flex;
    align-items: center;
}


.logo {
    background: url("/Club/Imagenes/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    display: block;
    height: 60%;
    width: 120px;
}



figure {
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.2);
    padding: 20px;
}

figure h3 {
    margin-bottom: 5px;
}



.imagenes {
    margin-bottom: 20px;
    display: flex;
    background-color: red;
    max-height: 160px;
}
