.__Header_BANNER {
background: linear-gradient(#1c5f7ca1,#1C5F7C), url("/Club/Imagenes/Banner.avif") no-repeat;
background-size: cover;
height: 45vh;
color: white;
}

.__Header_CONTENT {
    max-width: 800px;
    margin: 0 20px;
    padding: auto;
}

h1 {
    font-size: 3rem;
    padding: 20px;
}

p {
    font-size: 1.3rem;
    margin: 0 20px;
}

.__Header_CONTENT h1 {
    color: #6ce6e8;
    font-weight: bolder;
}
.__Header_CONTENT p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: justify;
    color: #ffffff;
    font-weight: bold;
}

.__Main_Content {
    display: flex;
    background-color: #D5EBF5;
}

section img {
    width: 60%;
}

section {
    margin: 100px 0px;
}