/*colores: teal, red, blue, orange, purple, olive, fuchsia y green.*/
html {
    width: 700px;
    overflow-x: hidden;
}

h1:first-child {
    margin-top: 0;
}

* {
    font-family:serif;
}

h1 {
    color: teal;
}

a {
color:red;
}

strong {
    color: red;
}

h2 {
    color: blue;
}

.especial {
    color: purple;
}

#especial {
    color: fuchsia;
}

#adicional a {
    color: green;
}

#adicional > * {
    color: olive;
}

table strong {
color: orange;
font-weight:bold;
}

table .especial, .destacado {
color: orange;
}

table,td,tr,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

table th {
    color: red;
}

table td {
    color: green;
    font-weight: lighter;
}

table em {
    font-style: italic;
    color: inherit;
    font-weight:lighter;
}

em {
    color: blue;
}

caption {
    color: blue;
    margin: 10px;
}

img {
    position: absolute;
    clip-path: circle(30%);
    left: -120px;
    z-index: -1;
    top: 0;
}

