@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Odibee+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", sans-serif;
    color: #2E373A;
}

body {
    margin: 20px;
    background-color: #CBCBCB;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 400px);
    grid-template-rows: repeat(3, auto);
    gap: 0px;
}

h3 {
    border-bottom: 1px solid black;
    width: 84%;
}

h1,h2,h3,h4,h5 {
    margin: 10px 0;
}

.showdown:nth-child(3) {
    grid-area: 2/2;
}
.showdown:nth-child(4) {
    grid-area: 2/1;
    width: 400px;
}

.flex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex img {
position: absolute;
top: -20%;
left: 10%;
height: 200%;
z-index: 1;
}

.flex img:last-of-type {
    top: 100px;
    left: 200px;
}


img {
    width: 200px;
}